{% extends "admin/change_form.html" %}
{% load static admin_urls %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/admin.css" %}"/>
    <style>
        .submit-row input.release-button {
            text-transform: none !important;
        }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
<div class="submit-row">
    <input type="submit" value="Save" class="default" name="_save" />

    {% if object_id != None %}
        <input type="submit"
               value="Release..."
               class="default release-button"
               name="release"
               formaction="{% url 'admin:map_release' %}?ids={{ object_id }}" />
    {% endif %}

    <input type="submit" value="Save and add another" name="_addanother" />
    <input type="submit" value="Save and continue editing" name="_continue" />

    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a class="deletelink" href="{% add_preserved_filters delete_url %}">Delete</a>
</div>
{% endblock %}
